.container{
    background-color: beige;
    width: 80%;
    margin: auto;
    text-align: center;
}
table, td, th {
    border-bottom: 1px solid;
    border-color: #999;
    border-collapse: collapse;

}
table {
    width: 100%;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;

}
td, th {
    padding: 25px;
}
th {
    background-color: dodgerblue;
    color: wheat;
}
caption{
    background-color: #999;
    padding: 8px;
    font-size: 25px;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}
tr:nth-child(even) {
    background-color: lightblue;
}
td input{
    border-radius: 5px;
    border: 1px solid;
    padding: 3px;
    font-size: 15px;
    background-color: #999;
    color:wheat;
}
